name: Build hivemq

on:
  push:
    paths:
      - '.github/workflows/hivemq.yml'
  pull_request:
  workflow_dispatch:
    inputs:
      test:
        description: 'Enable OH tests'
        required: false
        default: false
        type: boolean

jobs:
  build-all:
    name: Build OH
    # typical duration is ~15min, set twice the amount as limit (default is 6h)
    runs-on: ubuntu-24.04
    steps:
      - name: Set up Cache
        uses: actions/cache@v5
        with:
          key: hivemq
          path: |
            ~/.m2/repository
            !~/.m2/repository/org/openhab
            !~/.m2/repository/org/apache/karaf
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin' # See 'Supported distributions' for available options
          java-version: '21'

#      - name: Dagger
#        run: |
#          gh repo clone holgerfriedrich/openhab-osgiify
#          cd openhab-osgiify
#          git checkout pr-dagger
#          git status
#          git branch -v
#        env:
#          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#      - name: Install Dagger
#        run: |
#          cd openhab-osgiify/com.google.dagger/
#          mvn install

      - name: Core
        run: |
          gh repo clone holgerfriedrich/openhab-core
          cd openhab-core
          git checkout pr-hivemq-138
          # git revert 7d8aca474be9bd26b31af6497f76a80a359957ed --no-commit
          git status
          git branch -v
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Build Core
        if: ${{ github.event.inputs.test != 'true' }}
        run: |
          cd openhab-core
          ./mvnw -Dmaven=4.0.0-rc-5 install -Dspotless.check.skip -DskipTests -DskipChecks -T3 -DwithResolver -B -ntp
      - name: Build & Test Core
        if: ${{ github.event.inputs.test == 'true' }}
        run: |
          cd openhab-core
          ./mvnw -Dmaven=4.0.0-rc-5 install -T3 -DwithResolver -B -ntp

      - name: Webui
        run: |
          gh repo clone openhab/openhab-webui
          cd openhab-webui
          # git checkout k448
          git branch -v
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Build Webui
        if: ${{ github.event.inputs.test != 'true' }}
        run: |
          cd openhab-webui
          ./mvnw -Dmaven=4.0.0-rc-5 install -Dspotless.check.skip -DskipTests -DskipChecks -T3 -DwithResolver -B -ntp
      - name: Build & Test Webui
        if: ${{ github.event.inputs.test == 'true' }}
        run: |
          cd openhab-webui
          ./mvnw -Dmaven=4.0.0-rc-5 install -T3 -DwithResolver -B -ntp

      - name: Addons
        run: |
          gh repo clone holgerfriedrich/openhab-addons
          cd openhab-addons
          git checkout pr-hivemq-138
          git branch -v
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Build Addons
        if: ${{ github.event.inputs.test != 'true' }}
        run: |
          cd openhab-addons
          ./mvnw -Dmaven=4.0.0-rc-5 install -Dspotless.check.skip -DskipTests -DskipChecks -T3 -DwithResolver -B -ntp
          cd itests
          ../mvnw -Dmaven=4.0.0-rc-5 install -Dspotless.check.skip -DskipChecks -T3 -DwithResolver -B -ntp
      - name: Build & Test Addons
        if: ${{ github.event.inputs.test == 'true' }}
        run: |
          cd openhab-addons
          ./mvnw -Dmaven=4.0.0-rc-5 install -T3 -DwithResolver -B -ntp

      - name: Distro 
        run: |
          gh repo clone openhab/openhab-distro
          cd openhab-distro
          # git checkout pr-uom
          git branch -v
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Build Distro
        if: ${{ github.event.inputs.test != 'true' }}
        run: |
          cd openhab-distro
          ./mvnw -Dmaven=4.0.0-rc-5 install -Dspotless.check.skip -DskipTests -DskipChecks -T3 -DwithResolver -B -ntp
      - name: Build & Test Distro
        if: ${{ github.event.inputs.test == 'true' }}
        run: |
          cd openhab-distro
          ./mvnw -Dmaven=4.0.0-rc-5 install -T3 -DwithResolver -B -ntp
          
      - name: Upload Core
        uses: actions/upload-artifact@v7
        with:
          archive: false
          name: openhab-core-b${{ github.run_number }}
          path: openhab-distro/distributions/openhab/target/*.zip
          retention-days: 5
      - name: Upload Addons
        uses: actions/upload-artifact@v7
        with:
          archive: false
          name: openhab-addons-b${{ github.run_number }}
          path: openhab-distro/distributions/openhab-addons/target/*.kar
          retention-days: 5

      - name: Show Resover Status
        run: |
          cd openhab-core
          git branch -v
          git status
          git diff
          cd ..
          cd openhab-distro
          git branch -v
          git status
          git diff
          cd ..
          cd openhab-webui
          git branch -v
          git status
          git diff
          cd ..
          cd openhab-addons
          git branch -v
          git status
          git diff
